@model LojaVirtual.Models.Produto
@{
    ViewData["Title"] = "Atualizar";
}

<h1>Atualizar</h1>

<form method="post">
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="CategoriaId" class="form-label"></label>
            <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CATEGORIAS">
                <option value="">Selecione</option>
            </select>
            <span asp-validation-for="CategoriaId" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="Nome" class="form-label"></label>
            <input asp-for="Nome" class="form-control" placeholder="Digite o nome do produto" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3">
        <label asp-for="Descricao" class="form-label"></label>
        <textarea asp-for="Descricao" class="form-control"></textarea>
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Quantidade" class="form-label"></label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">UN</div>
                </div>
                <input asp-for="Quantidade" type="number" class="form-control" placeholder="Digite a quantidade do produto" />
            </div>
            <span asp-validation-for="Quantidade" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Valor" class="form-label"></label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">R$</div>
                </div>
                <input asp-for="Valor" class="form-control dinheiro" placeholder="Digite o preço do produto" />
            </div>
            <span asp-validation-for="Valor" class="text-danger"></span>
        </div>
    </div>


    <h2>Frete</h2>
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="Peso" class="form-label"></label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Kg</div>
                </div>
                <input asp-for="Peso" class="form-control" />
            </div>
            <span asp-validation-for="Peso" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Largura" type="number" class="form-label"></label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">cm</div>
                </div>
                <input asp-for="Largura" class="form-control" />
            </div>
            <span asp-validation-for="Largura" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Altura" type="number" class="form-label"></label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">cm</div>
                </div>
                <input asp-for="Altura" class="form-control" />
            </div>
            <span asp-validation-for="Altura" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Comprimento" type="number" class="form-label"></label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">cm</div>
                </div>
                <input asp-for="Comprimento" class="form-control" />
            </div>
            <span asp-validation-for="Comprimento" class="text-danger"></span>
        </div>
    </div>

    @{
        var Imagens = new List<Imagem>();

        if (Model != null)
            Imagens = Model.Imagens.ToList();
    }
    <div class="row Imagens">
        @for (int i = 0; i < 12; i++)
        {
            if (Imagens.ElementAtOrDefault(i) != null && Imagens.ElementAtOrDefault(i).Caminho.Trim().Length > 0)
            {
                <div class="col-md-2 bottom30">
                    <input type="file" class="input-file" />
                    <div class="container-img-thumbnail">
                        <span class="helper"></span><img src="@Imagens.ElementAtOrDefault(i).Caminho" class="img-thumbnail img-upload" alt="Imagem @i" />
                    </div>
                    <div class="btn btn-danger btn-imagem-excluir">X</div>
                    <input type="text" name="imagem" value="@Imagens.ElementAtOrDefault(i).Caminho" />
                </div>
            }
            else
            {
                <div class="col-md-2 bottom30">
                    <input type="file" class="input-file" />
                    <div class="container-img-thumbnail">
                        <span class="helper"></span><img src="~/img/produto-padrao.png" class="img-thumbnail img-upload" alt="Imagem @i" />
                    </div>
                    <div class="btn btn-danger btn-imagem-excluir btn-ocultar">X</div>
                    <input type="text" name="imagem" />
                </div>
            }
        }
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</form>

